Rproj.user
.Rhistory
.RData
.Ruserdata
bulk_RNAseq/scripts/.snakemake
bulk_RNAseq/scripts/.snakemake/*
.Rproj.user
snRNAseq/scripts/.snakemake
snRNAseq/scripts/.snakemake/*
snRNAseq/scripts/old_scripts/*
