Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.DS_Store
metadata.tsv
metadata_extra_clinical.txt
manuscript_figures/*
bulk_RNAseq/.DS_Store
bulk_RNAseq/brain_metadata.tsv
snRNAseq/scripts/umap_embeddings.txt
metadata_extra_clinical.txt
metadata.tsv
all_pigs_combined_metadata.tsv
Sepsis_Pig_Transcriptome_Full_Comparison.xlsx
bulk_RNAseq/scripts/.snakemake
bulk_RNAseq/scripts/.snakemake/*
bulk_RNAseq/scripts/file_paths_and_colours_with_LPS.R
bulk_RNAseq/scripts/06*
bulk_RNAseq/LPS_pigs/*
bulk_RNAseq/rObjects/*
bulk_RNAseq/rawQC/*
bulk_RNAseq/results/*
bulk_RNAseq/results_ComBat/*
bulk_RNAseq/results_ComBat_condition/*
bulk_RNAseq/results_all_samples/*
bulk_RNAseq/starAligned/*
bulk_RNAseq/trimmedQC/*
bulk_RNAseq/trimmedReads/*
snRNAseq/scripts/.snakemake
snRNAseq/scripts/.snakemake/*
snRNAseq/scripts/old_scripts/*
bulk_RNAseq/rObejcts/*
bulk_RNAseq/results/*
bulk_RNAseq/trimmedQC/*
bulk_RNAseq/scripts/old_scripts_combat_ect/*
snRNAseq/cellranger/*
snRNAseq/cellbender/*
snRNAseq/fastq/*  
snRNAseq/old_scripts/*  
snRNAseq/rObjects/*    
snRNAseq/results/*    
snRNAseq/shiny_apps/*
snRNAseq/scripts/SRA_upload.sh